.section-hero-landing {
  color: #fff; }
  .section-hero-landing .row {
    justify-content: space-between; }
  .section-hero-landing .col-6-left {
    flex: 0 0 100%;
    max-width: 100%; }
    @media all and (min-width: 768px) {
      .section-hero-landing .col-6-left {
        flex: 0 0 50%;
        max-width: 50%; } }
    @media all and (min-width: 992px) {
      .section-hero-landing .col-6-left {
        flex: 0 0 55%;
        max-width: 55%; } }
  .section-hero-landing .col-6-right {
    flex: 0 0 100%;
    max-width: 100%; }
    @media all and (min-width: 768px) {
      .section-hero-landing .col-6-right {
        flex: 0 0 50%;
        max-width: 50%; } }
    @media all and (min-width: 992px) {
      .section-hero-landing .col-6-right {
        flex: 0 0 40.24%;
        max-width: 40.24%;
        padding-left: 0; } }
  .section-hero-landing .site-branding .custom-logo {
    max-width: 211px; }
  .section-hero-landing .hero-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block !important; }
  .section-hero-landing h1 {
    color: #fff; }
  .section-hero-landing ul {
    font-size: 26px;
    padding-bottom: 27px;
    padding-top: 63px; }
    .section-hero-landing ul li {
      color: #fff;
      line-height: 1.3; }
  .section-hero-landing .button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px; }
  .section-hero-landing .hero-col-right-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px; }
    .section-hero-landing .hero-col-right-top .hero-right-logo-img {
      max-width: 150px;
      display: none; }
      @media all and (min-width: 768px) {
        .section-hero-landing .hero-col-right-top .hero-right-logo-img {
          display: block; } }
    .section-hero-landing .hero-col-right-top .cdblk-hero-landing__separator {
      background-color: #fff;
      content: "";
      height: 50px;
      width: 5px;
      display: none; }
      @media all and (min-width: 992px) {
        .section-hero-landing .hero-col-right-top .cdblk-hero-landing__separator {
          display: block; } }
    .section-hero-landing .hero-col-right-top a {
      background-color: transparent;
      color: transparent;
      font-size: 26px;
      font-weight: 900;
      padding: 0;
      text-decoration: none; }
      @media all and (max-width: 768px) {
        .section-hero-landing .hero-col-right-top a {
          position: absolute;
          right: 15px;
          top: 0; } }
      @media all and (max-width: 768px) {
        .section-hero-landing .hero-col-right-top a:before {
          background-image: url("assets/images/phone.png");
          background-size: contain;
          content: "";
          height: 29px;
          position: absolute;
          right: 15px;
          top: -5px;
          width: 29px; } }
      @media all and (min-width: 768px) {
        .section-hero-landing .hero-col-right-top a {
          color: #f60; } }
  .section-hero-landing .book-meeting-form_wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
    padding: 20px 25px;
    position: relative;
    display: none; }
    @media all and (min-width: 768px) {
      .section-hero-landing .book-meeting-form_wrapper {
        display: block; } }
    .section-hero-landing .book-meeting-form_wrapper .gform_title {
      color: #002856;
      font-size: 22px;
      line-height: 36px;
      margin-top: 0 !important;
      padding-bottom: 0; }
    .section-hero-landing .book-meeting-form_wrapper .gform_required_legend {
      display: none; }
    .section-hero-landing .book-meeting-form_wrapper .gform_button {
      width: 100%; }

.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 35px;
  padding-top: 34px;
  align-content: center; }
  @media all and (min-width: 992px) {
    .logos {
      width: 60%; } }
  .logos img {
    height: 27px;
    margin: 0px 10px 0 0;
    width: auto; }

.landing__quote {
  padding-bottom: 20px !important; }

.wp-block-columns {
  margin-bottom: 1.75em; }
