.section-hub-with-buttons {
  padding: 0px 0 70px 0; }
  .section-hub-with-buttons .row {
    justify-content: space-between; }
    .section-hub-with-buttons .row:after {
      content: "";
      width: calc(33% - 20px); }
  .section-hub-with-buttons .col-4 {
    flex: 100%;
    max-width: 100%;
    border: 1px solid #002856;
    border-radius: 6px;
    margin-bottom: 30px;
    border-left: 5px solid #f60;
    padding: 0; }
    @media all and (min-width: 768px) {
      .section-hub-with-buttons .col-4 {
        flex: calc(50% - 20px);
        max-width: calc(50% - 20px); } }
    @media all and (min-width: 992px) {
      .section-hub-with-buttons .col-4 {
        flex: calc(33% - 14px);
        max-width: calc(33% - 14px); } }
    .section-hub-with-buttons .col-4 .hub-box {
      height: 100%; }
      .section-hub-with-buttons .col-4 .hub-box .hub-box-top {
        padding: 30px 30px; }
      .section-hub-with-buttons .col-4 .hub-box .hub-box-bottom {
        padding: 0 30px 30px; }
    .section-hub-with-buttons .col-4 .bg-image {
      position: relative;
      height: 150px; }
      .section-hub-with-buttons .col-4 .bg-image img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block !important; }
    .section-hub-with-buttons .col-4 .box-icon {
      max-width: 90px; }
    .section-hub-with-buttons .col-4 a {
      text-decoration: none; }
      .section-hub-with-buttons .col-4 a:hover .read-more-btn, .section-hub-with-buttons .col-4 a:hover .box-heading, .section-hub-with-buttons .col-4 a:hover .box-content {
        color: #f60; }
    .section-hub-with-buttons .col-4 .box-heading {
      color: #002856;
      margin-top: 0;
      padding-top: 10px;
      margin-bottom: 0;
      padding-bottom: 20px; }
    .section-hub-with-buttons .col-4 .box-content {
      font-size: 17px;
      font-weight: 400;
      line-height: 27px;
      color: #002856; }
    .section-hub-with-buttons .col-4 .read-more-btn {
      font-size: 15.3px;
      font-weight: 700;
      position: relative;
      text-decoration: none;
      display: inline-block;
      color: #002856; }
      .section-hub-with-buttons .col-4 .read-more-btn:after {
        background: #f60;
        bottom: -8px;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%; }
