.section-landing-insolvency-hero {
  padding-top: 50px;
  padding-bottom: 150px;
  @media all and (min-width: 992px) {
    padding-bottom: 50px;
  }
  .row {
    justify-content: space-between;
  }
  .hero-page-title {
    color: #fff;
    margin-bottom: 50px;
    margin-top: 48px;
    position: relative;
    &:after {
      background: #f60;
      bottom: -15px;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      width: 65%;
    }
  }
  .hero-description {
   p {
     font-size: 20px;
     color: #fff;
   }
  }
  .logos {
    display: flex;
    justify-content: space-between;
  }

  .hero-header {
    display: flex;
    justify-content: space-between;
    .logo-right {

      display: none;
      @media all and (min-width: 768px) {
        display: block;
        max-width: 150px;
      }
      @media all and (min-width: 992px) {
      margin-right: 45px;

    }
    }
  }


  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
    @media all and (min-width: 768px) {
      flex: 0 0 48%;
      max-width: 48%;
    }
    @media all and (min-width: 992px) {
      flex: 0 0 39.5%;
      max-width: 39.5%;
    }
  }
  .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    @media all and (min-width: 768px) {
      flex: 0 0 48%;
      max-width: 48%;
    }
    @media all and (min-width: 992px) {
      flex: 0 0 52%;
      max-width: 52%;
    }
  }

  .shape-img {
    display: none;
    @media all and (min-width: 992px) {
      display:block;
      position: absolute;
      object-fit: cover;
      top: 150px;
      z-index: -1;
    }
  }

  .sliders-form-wrapper {

    background: #fff;
    border-radius: 5px;
    padding: 20px 40px 0 40px;
    @media all and (min-width: 992px) {
      margin: 45px;
    }

    .quiz__content {
      padding: 0px 0;
    }
    .slider__title {
      align-items: center;
    }
    .quiz__amount {
      -ms-grid-row-align: center;
      align-self: center;
      font-weight: var(--fw-bold);
      border: none;
      font-size: 16px;
    }

    .noUi-target {
      margin: 0 0 10px;
    }
    .gform_wrapper.quiz-form_wrapper .gform_footer input.button {
      background: linear-gradient(90deg,#0f4197 0,#113b82);
      width: 100%;
    }
    .quiz__tab-heading {
      font-size: var(--fs-h4);
      font-weight: var(--fw-bold);
      padding-bottom: 10px;
      padding-top: 15px;
    }
    .quiz__amount-heading {
      font-size: var(--fs-p);
      font-weight: var(--fw-light);
      text-transform: uppercase;
    }
    .quiz__amount {
      align-self: center;
      font-weight: var(--fw-bold);
    }

    .slider__title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0px;
      padding-top: 5px;
    }
    .slider {
      display: flex;
      justify-content: space-between;
    }

    form {
      padding-top: 20px;
      input {
        background: #f6f8fa;
        border: 1px solid #8fa8be;
        border-radius: 5px;
        color: #002856;
        font-size: 15.3px!important;
        font-weight: var(--fw-regular);
        line-height: 1;
        padding: 10px 17px!important;
        margin-bottom: 0;
        margin-top: 0;
      }
      .button {
        color: #fff;
      }
    }
  }




}

.section-floater {
  .col-12 {
    position: relative;
    .floater-inner {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
      display: flex;
      justify-content: space-around;
      margin-right: 45px;
      padding: 25px 0;
      position: absolute;

      flex-wrap: wrap;
      top: -75px;
      width: 100%;
      @media all and (min-width: 992px) {
        top: -60px;
        width: calc(100% - 45px);
      }

      .float-feature-item {
        align-items: center;
        display: flex;
        padding: 5px 0;
        img {
          padding: 3px 9px 0;
          max-width: 53px;
          @media all and (min-width: 992px) {
            max-width: auto;
          }
        }
        p {

          margin-bottom: 0;
          font-weight: 700;
          @media all and (min-width: 992px) {
            max-width: 130px;

          }
        }
      }
    }

  }
}