.section-landing-blank-hero {
    .landing-blank-hero-middle {
      padding-top: 50px;
      color: #fff;
      text-align: center;
      .landing-blank-hero-desc {
        font-size: 22px;
        color: #fff;
      }
      .landing-blank-hero-title {
        color: #fff;
      }
    }
}