.wysiwyg {
  p {
    margin-bottom: 16px;
    &:first-of-type {
      font-weight: 400;
    }
  }
  .orange {
    color: #f60;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .big {
  color: #002856;
  font-size: 26px;
  font-weight: 700;
  padding-left: 13px;
  padding-top: 15px;
  position: relative;
  text-decoration: none;
    &:before {
      background-color: #f60;
      content: "";
      height: 26px;
      left: 0;
      position: absolute;
      width: 7px;
    }
}
}