button.menu-toggle{
	padding: 35px 0px;
	position: relative;
	background: transparent;
	border: none;
	max-width: 50px;
	line-height: 0;
	left: 3px;
	top: -1px;
	order: 3;
	.line{
		width: 35px;
		display: inline-block;
		height: 4px;
		background: #fff;
		border-radius: 4px;
		margin: 2.5px 0;
		transition: .5s transform ease;
		&:first-child{
			margin-top: 0;
		}
		&:nth-child(2){
			transition: .5s opacity ease;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.menu-toggled {
	.menu-toggle {
		.line {
			&:first-child{
				transform: translate(0, 9px) rotate(-45deg);
			}
			&:nth-child(2){
				opacity: 0;
			}
			&:last-child{
				transform: translate(0, -9px) rotate(45deg);
			}
		}

	}
}

.mobile-cta{
	@media all and (min-width: 1037px) {
		display: none!important;
	}
}
@media all and ( max-width: 1037px) {

	a.mobile-cta{
		display: flex;
		align-items: center;
		border: 1px solid #8fa8be;
		border: 1px solid var(--c-border);
		border-radius: 55px;
		display: flex;
		flex-wrap: wrap;
		font-size: 17px;
		font-size: var(--fs-p);
		font-weight: 700;
		font-weight: var(--fw-bold);
		justify-content: center;
		margin: 10px 10px;
		padding: 15px 20px;
		text-decoration: none;
		.number{
			color: #f60;
			color: var(--c-orange);
			padding-left: 5px;
		}
	}
	body.menu-toggled{
		overflow:hidden;
		
	}
	header.site-header{
		.header-right{
			order: 2;
			.header-search{
				margin-right: 0;
				margin-left: 53px;
				@media all and ( max-width: 1037px) {
					position: absolute;
					right: 70px;
				}

			}
			.header-cta{
				display: none;
			}
		}
		nav.main-navigation{
			display: none;
			&.toggled{
				display: block;
			}
			background: #fff;
			position: absolute;
			top: 92px;
			height: calc( 100vh - 92px );
			width: 100%;
			left: 0;
			overflow: auto;
			.menu-header-menu-container{
				& > ul > li:first-child {
					border-top: 1px solid #8fa8be;
					border-top: 1px solid var(--c-border);
				}
				ul{
					width: 100%;
					padding:0 15px;
					li{
						width: 100%;
						padding: 15px 0;
						height: auto;
						border-bottom: 1px solid #8fa8be;
						border-bottom: 1px solid var(--c-border);
						display: flex;
						flex-direction: column;
						&.menu-item-has-children{
							position: relative;
							span.menu-arrow{
								position: absolute;
								width: 27px;
								height: 27px;
								&:after{
									border-color: #002856;
									border-color: var(--c-font);
									top: 7px;
									right: 3px;
									width: 11px;
									height: 11px;
									transform: rotate(-45deg);
									transition: all 0.2s ease;
									border-width: 0 3px 3px 0;
								}
							}
							//span:after,
							//a:after{
							//	border-color: #002856;
							//	border-color: var(--c-font);
							//	top: 7px;
							//	right: 3px;
							//	width: 11px;
							//	height: 11px;
							//	transform: rotate(-45deg);
							//	transition: all 0.2s ease;
							//	border-width: 0 3px 3px 0;
							//}
							&.focus{
								span.menu-arrow:after{
									transform: rotate(45deg);
								}
							}
						}
						
						a, span{
							cursor: pointer;
							color: #002856;
							color: var(--c-font);
							display: block;
							width: 100%;
							padding: 0;
							position: relative;
						}
					}
					&.sub-menu{
						position: relative;
						width: 100%;
						top: 15px;
						box-shadow: none;
						background: transparent;
						display: none;
						padding: 0 40px;
					}
					li.focus{
						.sub-menu{
							display: block;
						}
					}
				}
			}
		}
	}
}

.mobile-action-bar {
	padding: 5px;
	background: #FA6F19;
	color: #fff;

	p {
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		font-weight: 500;
		margin-bottom: 0;
		color: #fff;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
}